set_io --warn-no-port clock B2 # 16MHz clock

set_io --warn-no-port reset H9 # 14

set_io --warn-no-port io_input_a A2 # 1
set_io --warn-no-port io_input_b A1 # 2

set_io --warn-no-port io_output B3 # led
