set_io --warn-no-port clock B2 # 16MHz clock

set_io --warn-no-port reset H9 # Pin 14

set_io --warn-no-port io_result[0] A2 # 1
set_io --warn-no-port io_result[1] A1 # 2
set_io --warn-no-port io_result[2] B1 # 3
set_io --warn-no-port io_result[3] C2 # 4
