LOCATE COMP "clock" SITE "A9";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 48.0 MHz;

LOCATE COMP "reset" SITE "V17";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_input_a" SITE "N17";
IOBUF PORT "io_input_a" IO_TYPE=LVCMOS33;
IOBUF PORT "io_input_a" PULLMODE=DOWN;

LOCATE COMP "io_input_b" SITE "M18";
IOBUF PORT "io_input_b" IO_TYPE=LVCMOS33;
IOBUF PORT "io_input_b" PULLMODE=DOWN;

LOCATE COMP "io_output" SITE "B10";
IOBUF PORT "io_output" IO_TYPE=LVCMOS33;
IOBUF PORT "io_output" PULLMODE=DOWN;
